article, aside, details, figure, footer, header, main, menu, nav, section {
	display: block;
}

* {
	margin: 0;
	padding: 0;
	color: #FFF;
	font-size: 14px;
	text-align: justify;
	font-family: 'Armata';
}

body {
	background-color: #000;
	background: url("../img/menu/background.png") repeat-y center;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Orbitron';
}

li {
	list-style-type: none;
}

input {
	color: #000;
}

a {
	color: #FFF;
	text-decoration: none;
}

label {
	color: #D6AE36;
}

.favlink {
	color: #D6AE36;
}

.favlink:hover {
	color: #F8CF58;
}

#cookies {
	width: 100%;
	display: none;
	position: fixed;
	z-index: 100;
	background-color: #D6AE36;
}

#cookies img {
	float: right;
	margin: 10px 10px 0 0;
}

#cookies img:after {
	clear: both;
}

#cookies p {
	margin: 20px;
}

header {
	width: 100%;
	height: 162px;
	position: relative;
	z-index: 50;
	background: url("../img/menu/header.png") no-repeat center;
}

#logo {
	position: absolute;
	left: calc(50% - 100px);
}

#logo img {
	height: 50px;
}

nav {
	height: 22px;
	position: absolute;
	top: 70px;
	left: calc(50% - 140px);
}

nav ul li {
	display: inline;
}

#game {
	width: 54px;
}

#media {
	width: 58px;
}

#preorder {
	width: 96px;
}

#forum {
	width: 66px;
}

#contact-header, #contact-footer {
	width: 82px;
}

#contact-header {
	display: none;
}

#contact-footer {
	display: block;
}

#login-button {
	width: 46px;
	margin: 10px 5px 0 0;
}

#register-button {
	width: 72px;
	margin: 9px 0 0 5px;
}

#social-header {
	display: none;
}

#social-footer {
	border: 1px solid red;
}

#login-username {
	width: 248px;
	height: 40px;
	position: absolute;
	top: 100px;
	left: calc(50% - 121px);
	text-align: center;
	background: url("../img/menu/label.png") no-repeat center;
}

#login-username a:first-child {
	margin-right: 5px;
}

#submenu {
	width: 100%;
	height: 0;
	position: absolute;
	top: 100px;
	z-index: 100;
}

.submenu {
	width: 287px;
	display: none;
	margin: auto;
	padding-left: 5px;
}

.submenu li {
	text-align: center;
	margin-bottom: 5px;
}

.submenu li:last-child {
	margin-bottom: 0;
}

.submenu-header {
	height: 55px;
	background: url("../img/menu/submenu-header.png") no-repeat center;
	text-align: center;
	line-height: 250%;
	font-size: 20px;
	font-family: 'Orbitron';
}

.submenu-main {
	min-height: 18px;
	background: url("../img/menu/submenu-body.png") repeat-y center;
}

.submenu-footer {
	height: 22px;
	background: url("../img/menu/submenu-footer.png") no-repeat center;
}

#login-form {
	width: 160px;
	margin: auto;
	text-align: left;
	padding-right: 4px;
}

#login-form input {
	width: 155px;
}

#username-email {
	margin-bottom: 10px;
}

.submit-button {
	width: 141px !important;
	height: 58px;
	color: #FFF;
	font-size: 20px;
	font-family: 'Orbitron';
	cursor: pointer;
	border: none;
	text-align: center;
	background: url("../img/menu/button.png") no-repeat;
}

#login-submit {
	margin-left: 10px;
}

#login-submenu a {
	margin-left: 65px;
}

footer {
	width: 100%;
	height: 132px;
	position: relative;
	z-index: 50;
	background: url("../img/menu/footer.png") no-repeat center;
}

#cs, #do, #mute-button {
	display: none;
	position: absolute;
}

#main-trailer {
	width: 100%;
	margin-top: -45px;
	margin-bottom: -57px;
}

#main-body {
	min-height: calc(100vh - 294px);
}

#main-body h1 {
	font-size: 26px;
	margin: 0 20px 10px 20px;
}

#main-body h2 {
	font-size: 22px;
	text-align: center;
	margin: 0 20px 10px 20px;
}

#main-body h3 {
	font-size: 22px;
	text-align: left;
	margin: 20px 0 10px 20px;
	padding-left: 10px;
	background: linear-gradient(to right, #AD730F, #17273F); 
}

#main-body p {
	text-align: justify;
	margin: 20px;
}

#main-body ul {
	margin: 0 10px;
	text-align: left;
}

#main-body li {
	list-style-type: disc;
	margin: 5px 10px 0 40px;
}

.left {
	float: none;
	width: 250px;
	height: auto;
}

.right {
	float: none;
	width: 250px;
	height: auto;
}

#requirements ul li {
	list-style-type: none;
	margin: 10px 0;
	padding: 5px;
	border: none;
}

#requirements ul li:nth-child(2n) {
	background: #AD730F;
}

#requirements ul li:nth-child(2n+1) {
	background: #3A5A6F;
}

#requirements ul li:first-child {
	font-size: 20px;
	margin: 20px 20px 10px 20px;
	background: none;
	text-align: center;
}

.race {
	padding: 10px 0;
}

main h1, main h2{
	margin: 10px 20px;
}

main p {
	margin: 10px 20px;
	text-align: justify;
}

.race > ul > li > p {
	text-align: center;
}

#ameslarians {
	padding-top: 30px;
	margin-top: -40px;
	background-color: #8c0050;
}

#ameslarians h1, #ameslarians h2 {
	color: #56013a;
}

#ameslarians p {
	color: #f9a6d1;
}

#arranos {
	background-color: #fff049;
}

#arranos h1, #arranos h2 {
	color: #857b07;
}

#arranos p {
	color: #807c4f;
}

#brutas {
	background-color: #7f2913;
}

#brutas h1, #brutas h2 {
	color: #e63d00;
}

#brutas p {
	color: #d29c7b;
}

#felidians {
	background-color: #d068c2;
}

#felidians h1, #felidians h2 {
	color: #b12692;
}

#felidians p {
	color: #f5d8e7;
}

#hvalurs {
	background-color: #856d54;
}

#hvalurs h1, #hvalurs h2 {
	color: #54422f;
}

#hvalurs p {
	color: #c2b09e;
}

#lithodoros {
	background-color: #7696e1;
}

#lithodoros h1, #lithodoros h2 {
	color: #3d5aa0;
}

#lithodoros p {
	color: #dce2f2;
}

#maa-ar {
	background-color: #6E91A5;
}

#maa-ar h1, #maa-ar h2 {
	color: #304653;
}

#maa-ar p {
	color: #c8dae3;
}

#mechimeran {
	background-color: #245943;
}

#mechimeran h1, #mechimeran h2 {
	color: #002413;
}

#mechimeran p {
	color: #7addb4;
}

#myrmecians {
	background-color: #b1831b;
}

#myrmecians h1, #myrmecians h2 {
	color: #503c12;
}

#myrmecians p {
	color: #ffebbf;
}

#nosnarians {
	background-color: #270046;
}

#nosnarians h1, #nosnarians h2 {
	color: #691da6;
}

#nosnarians p {
	color: #d2abf0;
}

#olagarroans {
	background-color: #1a8775;
}

#olagarroans h1, #olagarroans h2 {
	color: #114a41;
}

#olagarroans p {
	color: #a0e7db;
}

#proteans {
	background-color: #A39362;
}

#proteans h1, #proteans h2 {
	color: #6a5d36;
}

#proteans p {
	color: #e3dcc6;
}

#raefillis {
	background-color: #7A5F92;
}

#raefillis h1, #raefillis h2 {
	color: #443255;
}

#raefillis p {
	color: #c7b5d6;
}

#skiteli {
	background-color: #7c0040;
}

#skiteli h1, #skiteli h2 {
	color: #4f042b;
}

#skiteli p {
	color: #d7769b;
}

#skribdis {
	background-color: #76b900;
}

#skribdis h1, #skribdis h2 {
	color: #497202;
}

#skribdis p {
	color: #edffce;
}

#stjornurians {
	background-color: #db1000;
}

#stjornurians h1, #stjornurians h2 {
	color: #830a00;
}

#stjornurians p {
	color: #ffceca;
}

#terrans {
	background-color: #0B5F79;
}

#terrans h1, #terrans h2 {
	color: #06313e;
}

#terrans p {
	color: #a3cedb;
}

#ubarros {
	background-color: #132059;
}

#ubarros h1, #ubarros h2 {
	color: #2140df;
}

#ubarrosp {
	color: #ffe437;
}

#velmenese {
	background-color: #83928F;
}

#velmenese h1, #velmenese h2 {
	color: #404141;
}

#velmenese p {
	color: #d7d7d7;
}

#zientzielari {
	padding-bottom: 30px;
	margin-bottom: -40px;
	background-color: #434f18;
}

#zientzielari h1, #zientzielari h2 {
	color: #232b07;
}

#zientzielari p {
	color: #999b70;
}

#slider-background {
	width: 100%;
	margin-top: -45px;
	margin-bottom: -55px;
	z-index: 100;
}

.slider {
	width: 100%;
	max-height: 100%;
	position: absolute;
	left: 0;
	top: 115px;
	display: none;
}

.video-slider {
	width: 60%;
	position: absolute;
	top: 175px;
	display: none;
	outline: 5px outset #D6AE36;
	left: 20%;
}

#left-arrow, #right-arrow {
	display: none;
}

#left-arrow {
	left: 10px;
}

#right-arrow {
	right: 10px;
}

#left-arrow:hover {
	cursor: pointer;
}

#right-arrow:hover {
	cursor: pointer;
}

#miniature-container {
	display: none;
}

#pause-button {
	display: none;
}

.small {
	width: 250px;
	margin: 0;
	padding: 0;
}

#main-body li {
	text-align: center;
	margin: 10px 0;
	padding: 5px 0;
	list-style-type: none;
}

#main-body li:nth-child(2n) {
	background: #AD730F;
}

#main-body li:nth-child(2n+1) {
	background: #3A5A6F;
}

#main-body h1 {
	text-align: center;
}

#main-body h2 {
	margin: 10px 0;
	padding: 0;
}

#main-body h3 {
	margin: 10px 0;
	padding: 0;
	font-size: 28px;
	text-align: center;
	background: none;
}

#main-body li p {
	text-align: center;
	margin: 10px;
}

#main-body img {
	margin: 0;
	padding: 0;
}

#main-body b {
	font-size: 40px;
}

.success {
	color: green;
	margin-left: 155px;
}

.error {
	color: red;
	margin-left: 155px;
}

@media screen and (min-width: 1000px) {
	#logo {
		top: 35px;
		left: calc(50% - 490px);
	}

	#logo img {
		height: auto;
	}

	nav {
		left: calc(50% - 185px);
	}

	#login-username {
		top: 110px;
		left: calc(50% + 230px);
	}

	#contact-header {
		display: inline;
	}

	#social-header {
		border: 1px solid red;
	}

	#social-footer {
		display: none;
	}

	#cs {
		width: 340px;
		height: 382px;
		display: block;
		top: calc(50% - 110px);
		background: url("../img/aside/cs.png") no-repeat center;
	}

	#cs h1 {
		width: 160px;
		margin-top: 20px;
		margin-left: 5px;
		font-size: 14px;
		color: #D6AE36;
	}

	#cs h2 {
		width: 215px;
		margin-top: 22px;
		text-align: center;
	}

	#cs img {
		margin-top: 30px;
		margin-left: 17px;
	}

	#cs ul {
		width: 250px;
		height: 40px;
		margin: 10px 0 0 30px;
	}

	#cs li {
		width: 200px;
		font-size: 10px;
		margin-bottom: 2px;
		list-style-type: disc;
	}

	#cs li:last-child {
		margin-bottom: 0;
	}

	#cs h3 {
		width: 210px;
		margin-top: 15px;
		font-size: 24px;
		text-align: center;
	}

	#do {
		width: 316px;
		height: 228px;
		display: block;
		background: url("../img/aside//do.png") no-repeat center;
		right: 0;
		top: calc(50% - 50px);
	}

	#do h1 {
		width: 210px;
		margin: 23px 0 0 100px;
		font-size: 15px;
		text-align: right;
	}

	#do p {
		width: 165px;
		padding-top: 16px;
		margin-left: 55px;
		font-size: 10px;
		text-align: justify;
		float: left;
	}

	#do img {
		margin-top: 25px;
		margin-left: 10px;
	}

	#do h2 {
		width: 210px;
		margin-left: 100px;
		margin-top: 19px;
		font-size: 20px;
		text-align: center;
	}

	#mute-button {
		position: absolute;
		right: 10px;
		bottom: 100px;
		display: block;
		z-index: 100;
	}

	#main-header {
		height: 160px;
		background: url("../img/menu/main-header.png") no-repeat center;
	}

	#main-body {
		min-height: calc(100vh - 596px);
		width: 934px;
		margin: auto;
		background: url("../img/menu/main-body.png") repeat-y center;
	}

	#main-footer {
		height: 142px;
		background: url("../img/menu/main-footer.png") no-repeat center;
	}

	#main-body h1, main h2 {
		margin: 0 50px 10px 50px;
	}

	#main-body h3 {
		margin: 15px 50px 10px 60px;
	}

	#main-body p {
		margin: 10px 50px;
	}

	#main-body p:first-child, main p:last-child {
		margin-top: 0;
	}

	#main-body ul {
		margin: 0 50px;
	}

	.left {
		float: left;
		width: auto;
		margin: 0 10px 10px 50px;
	}

	.right {
		float: right;
		width: auto;
		margin: 0 50px 10px 10px;
	}

	.text-images p {
		min-height: 170px;
		margin: 10px 50px;
	}

	.no-image {
		min-height: 0 !important;
	}

	main ul {
		width: 810px;
	}

	main li {
		width: 265px;
		font-size: 14px;
		display: inline-block;
		margin: 10px 0 0 0;
	}

	.middle {
		text-align: center;
	}

	.double {
		width: 537px;
		text-align: center;
	}

	#os {
		position: relative;
		bottom: 25px;
	}

	#cpu, #gpu {
		position: relative;
		bottom: 8px;
	}

	#requirements ul {
		margin: 10px 50px 0 50px;
	}
	
	#requirements ul li {
		border-bottom: 1px dashed #D6AE36;
	}

	#requirements ul li:nth-child(n) {
		background: none;
		font-size: 14px;
		margin: 0;
		padding: 0;
	}

	#requirements ul li:first-child {
		text-align: left;
		border: none;
	}

	.race {
		margin-bottom: 50px; 
		border-top: 24px solid transparent;
		border-bottom: 24px solid transparent;
		border-image-slice: 24 0 24 0;
		border-image-repeat: repeat;
		border-image-outset: 12px;
	}

	.race img {
		float: left;
		margin: 0 20px;
	}

	main h1{
		text-align: left;
	}

	main p {
		text-align: justify;
	}

	.race li {
		display: inline-block;
	}

	#ameslarians {
		margin-top: 20px;
		padding-top: 10px;
		border-image-source: url("../img/aliens/borders/ameslarians.png");
	}

	#arranos {
		border-image-source: url("../img/aliens/borders/arranos.png");
	}

	#brutas {
		border-image-source: url("../img/aliens/borders/brutas.png");
	}

	#felidians {
		border-image-source: url("../img/aliens/borders/felidians.png");
	}

	#hvalurs {
		border-image-source: url("../img/aliens/borders/hvalurs.png");
	}

	#lithodoros {
		border-image-source: url("../img/aliens/borders/lithodoros.png");
	}

	#maa-ar {
		border-image-source: url("../img/aliens/borders/maa-ar.png");
	}

	#mechimeran {
		border-image-source: url("../img/aliens/borders/mechimeran.png");
	}

	#myrmecians {
		border-image-source: url("../img/aliens/borders/myrmecians.png");
	}

	#nosnarians {
		border-image-source: url("../img/aliens/borders/nosnarians.png");
	}

	#olagarroans {
		border-image-source: url("../img/aliens/borders/olagarroans.png");
	}

	#proteans {
		border-image-source: url("../img/aliens/borders/proteans.png");
	}

	#raefillis {
		border-image-source: url("../img/aliens/borders/raefillis.png");
	}

	#skiteli {
		border-image-source: url("../img/aliens/borders/skiteli.png");
	}

	#skribdis {
		border-image-source: url("../img/aliens/borders/skribdis.png");
	}

	#stjornurians {
		border-image-source: url("../img/aliens/borders/stjornurians.png");
	}

	#terrans {
		border-image-source: url("../img/aliens/borders/terrans.png");
	}

	#ubarros {
		border-image-source: url("../img/aliens/borders/ubarros.png");
	}

	#velmenese {
		border-image-source: url("../img/aliens/borders/velmenese.png");
	}

	#zientzielari {
		margin-bottom: 0;
		padding-bottom: 10px;
		border-image-source: url("../img/aliens/borders/zientzielari.png");
	}

	#left-arrow, #right-arrow {
		position: absolute;
		top: 50%;
		z-index: 100;
	}
	
	main:hover #left-arrow, main:hover #right-arrow {
		display: block;
	}
	
	#miniature-container {
		width: 100%;
		height: 55px;
		padding: 10px 0;
		margin-top: -35px;
		position: absolute;
		display: block;
		background-color: rgba(75, 75, 75, 0.5);
		z-index: 100;
	}
	
	.miniature {
		width: 88px;
		height: 50px;
		margin: 0 2px;
		display: inline-block;
	}
	
	.miniature:hover {
		opacity: 1;
	}
	
	.active {
		border: 3px solid #AD730F;
		opacity: 1;
	}
	
	.inactive {
		border: 1px dashed #AD730F;
		opacity: 0.5;
	}
	
	#pause-button {
		position: absolute;
		right: 10px;
		bottom: 175px;
		display: inline;
		z-index: 100;
	}

	.small {
		width: 350px;
	}

	#main-body ul {
		margin: 0 39px;
		padding: 0;
		border-bottom: 1px solid #AD730F;
	}

	#main-body ul:last-child {
		border-bottom: none;
	}

	#main-body li {
		width: 425px;
		display: inline-block;
	}

	#main-body li:nth-child(n) {
		background: none;
	}

	#main-body li:nth-child(odd) {
		border-right: 1px dashed #AD730F;
		padding-right: 1px;
	}

	#main-body li > p {
		height: 75px;
	}

	.image-container {
		height: 175px;
	}
}