RewriteEngine on
RewriteRule	^about					about.php					[NC,L]
RewriteRule	^admin-login			admin-login.php				[NC,L]
RewriteRule	^admin-panel-data		admin-panel.php				[NC,L]
RewriteRule	^admin-panel-profile	admin-panel-profile.php		[NC,L]
RewriteRule	^admin-panel-stats		admin-panel-stats.php		[NC,L]
RewriteRule	^admin-panel-support	admin-panel-support.php		[NC,L]
RewriteRule	^aliens					aliens.php					[NC,L]
RewriteRule	^change-email			change-email.php			[NC,L]
RewriteRule	^change-username		change-username.php			[NC,L]
RewriteRule	^contact				contact.php					[NC,L]
RewriteRule	^diplomacy				diplomacy.php				[NC,L]
RewriteRule	^donate					donate.php					[NC,L]
RewriteRule	^error					error.php					[NC,L]
RewriteRule	^failure				failure.php					[NC,L]
RewriteRule	^galaxy					galaxy.php					[NC,L]
RewriteRule	^gallery				gallery.php					[NC,L]
RewriteRule	^government				government.php				[NC,L]
RewriteRule	^start					index.php					[NC,L]
RewriteRule	^not-found				not-found.php				[NC,L]
RewriteRule	^preorder				preorder.php				[NC,L]
RewriteRule	^profile-data			profile.php					[NC,L]
RewriteRule	^profile-stats			profile-stats.php			[NC,L]
RewriteRule	^profile-support		profile-support.php			[NC,L]
RewriteRule	^races					races.php					[NC,L]
RewriteRule	^recover-email			recover-email.php			[NC,L]
RewriteRule	^recover-password		recover-password.php		[NC,L]
RewriteRule	^recover-username		recover-username.php		[NC,L]
RewriteRule	^register				register.php				[NC,L]
RewriteRule	^reset-password			reset-password.php			[NC,L]
RewriteRule	^science				science.php					[NC,L]
RewriteRule	^success				success.php					[NC,L]
RewriteRule	^template				template.php				[NC,L]
RewriteRule	^test					test.php					[NC,L]
RewriteRule	^test-session			test-session.php			[NC,L]
RewriteRule	^video					video.php					[NC,L]
RewriteRule	^war					war.php						[NC,L]